.header {
    height: 170px;
    background: var(--main);
    display: flex;

    h2 {
        margin: 20px;
    }
}

.dices {
    min-height: 125px;
    background: var(--el2);
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100vw;
    margin: 0 auto;

    .dice {
        &:first-of-type {
            margin-left: auto;
            padding-left: 10px;
        }
        &:last-of-type {
            margin-right: auto;
            padding-right: 10px;
        }
        padding: 0 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 125px;
        width: 125px;
        img {
            height: 80%;
            filter: invert(1);
        }
    }

    &::-webkit-scrollbar {
        position: relative;
        min-height: 10px;
        top: 20px;
    }
}

.controls {
    background: var(--el3);
    display: flex;
    height: 100%;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;

    .input {
        display: flex;
        flex-direction: column
    };
}
